<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <h2>Options:</h2>
        {% for choice in choices %}
            {% if choice.id in selected_choices %}
                <input type="radio" name="choice" checked id="unrelated_choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="unrelated_choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% else %}
                <input type="radio" name="choice" id="unrelated_choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="unrelated_choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endif %}
        {% endfor %}
        
    </fieldset>
    <input type="submit" value="Vote">
</form>
